In [1]:
a,b,c = 20, 2018, 'JA'
print(a,b,c)

20 2018 JA

In [2]:
type(c)

str

In [3]:
#If elif
Speed = int(input("Enter the speed of the car : "))
max_speed = 100
avg_speed = 70
if Speed > 100:
    print('Over Speed')
elif Speed < 70 :
    print('Average speed')
elif Speed > 70 or Speed < 100:
    print('High Speed')

else:
    print("Speed Error")

Enter the speed of the car : 34
Average speed

In [4]:
#for
s = 'Hello All'
for i in s:
    print(i)

H
e
l
l
o

A
l
l

In [5]:
#for
s1 = ["Hello","All","!"]
for i1 in s1:
    print(s1)

['Hello', 'All', '!']
['Hello', 'All', '!']
['Hello', 'All', '!']

In [6]:
#for
for x in "Hello":
    print(x)

H
e
l
l
o

In [7]:
#for
for x1 in s1[0:2]:
    print(x1)

Hello
All

In [8]:
#for
for x2 in s1[::-1]:
    print(x2)

!
All
Hello

In [9]:
#for
for xx in s1:
    print(xx +" --> ",len(xx))

Hello -->  5
All -->  3
! -->  1

In [10]:
#for and if-else
for x3 in s1:
    if x3 == "All":
        print("Found : {} ".format(x3))
    else:
        print('Not found')

Not found
Found : All
Not found

In [11]:
#for, if-else and break
for x4 in s1:
    if x4 == "All":
        print("Found : {} ".format(x4))
        break
    else:
        print('Not found')

Not found
Found : All

In [12]:
#for, if-else and continue
for x5 in s1:
    if x5 == "All":
        continue
    else:
        print('Not found')

Not found
Not found

In [13]:
# Two for loops
s1 = ["Hello","All","!"]
s2 = ['How','Are','you']
for x6 in s1:
    for x7 in s2:
        print(x6,x7)

Hello How
Hello Are
Hello you
All How
All Are
All you
! How
! Are
! you

In [14]:
# while loop
cnt = 0
while (cnt<9):
    cnt = cnt + 1
    print(cnt)

1
2
3
4
5
6
7
8
9

In [15]:
#while with break
ct = 0
while (ct<9):
    print(ct)
    if ct == 6:
        break
    ct = ct + 1

0
1
2
3
4
5
6

In [16]:
#while with continue
ct1 = 0
while (ct1<9):
    ct1 = ct1 + 1
    if ct1 == 6:
        continue
    print(ct1)

1
2
3
4
5
7
8
9

In [17]:
#while with else
cnt2 = 0
while (cnt2<9+1):
    print(cnt2)
    cnt2=cnt2+1
else:
    print("No counts more")

0
1
2
3
4
5
6
7
8
9
No counts more

In [18]:
i = 0
while i < len(s1):
    i = i+1
print(i)

3

In [25]:
s = "Python Data Science"
for i in s:
    if i == 'S':
        #print(i)
        break
    print(i)
    
else:
    print('End')

P
y
t
h
o
n

D
a
t
a

In [32]:
for i in range(len(s)):
    pass
print("Toatal words : {}". format(i))

Toatal words : 18

In [33]:
for i in range(len(s)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [34]:
for i in s:
    if i == 'S':
        continue
    print(i)

P
y
t
h
o
n

D
a
t
a

c
i
e
n
c
e

In [35]:
n = 6
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end=" ")

* * * * * * * * * * * * * * * * * * * * *

In [36]:
n = 6
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end=" ")
    print('\r')

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [37]:
n = 7
for i in range(0,n):
    for j in range(i-1,n):
        print('*',end=" ")
    print('\r')

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *

In [38]:
n = int(input('Enter the no of rows you want? :'))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end=" ")
    for j in range(2*i-1):
        print('*',end=' ')
    print()

Enter the no of rows you want? :20
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * *
              * * * * * * * * * * * * * * * * * * * * * * * * *
                * * * * * * * * * * * * * * * * * * * * * * *
                  * * * * * * * * * * * * * * * * * * * * *
                    * * * * * * * * * * * * * * * * * * *
                      * * * * * * * * * * * * * * * * *
                        * * * * * * * * * * * * * * *
                          * * * * * * * * * * * * *
                            * * * * * * * * * * *
                              * * * * * * * * *
                                * * * * * * *
                                  * * * * *
                                    * * *
                                      *

In [39]:
#While loop
n=9
i=0
while i < n:
    print(' '*(n-i-1) + '* '*(i+1))
    i = i+1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [40]:
a = 'Hello all how are you? hope you are doing good'
a[0]

'H'

In [41]:
a[-1]

'd'

In [43]:
a[-1:10:-1]

'doog gniod era uoy epoh ?uoy era wo'

In [44]:
a[::-1]

'doog gniod era uoy epoh ?uoy era woh lla olleH'

In [45]:
a[::-2]

'do no r o ph?o r o l le'

In [46]:
a[0:4]

'Hell'

In [49]:
a[:30:2]

'Hloalhwaeyu oey'

In [50]:
b = "raghuv"
b*20

'raghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuvraghuv'

In [51]:
a.count('you')

2

In [52]:
a.split()

['Hello', 'all', 'how', 'are', 'you?', 'hope', 'you', 'are', 'doing', 'good']

In [53]:
a.split('e')

['H', 'llo all how ar', ' you? hop', ' you ar', ' doing good']

In [54]:
a.upper()

'HELLO ALL HOW ARE YOU? HOPE YOU ARE DOING GOOD'

In [55]:
a.lower()

'hello all how are you? hope you are doing good'

In [56]:
a.swapcase()

'hELLO ALL HOW ARE YOU? HOPE YOU ARE DOING GOOD'

In [57]:
"*".join(a)

'H*e*l*l*o* *a*l*l* *h*o*w* *a*r*e* *y*o*u*?* *h*o*p*e* *y*o*u* *a*r*e* *d*o*i*n*g* *g*o*o*d'

In [58]:
for i in reversed(a):
    print(i)

d
o
o
g

g
n
i
o
d

e
r
a

u
o
y

e
p
o
h

?
u
o
y

e
r
a

w
o
h

l
l
a

o
l
l
e
H

In [60]:
a.replace("you",'YOU')

'Hello all how are YOU? hope YOU are doing good'

In [61]:
for i in range(len(a)):
    if(a[i]=='a'):
        print(i)

6
14
32

In [62]:
#1.Lower the letters
a1 = 'India England America Switzerland Finland Mauritius Newzealand'
aa1 = a1.lower()
aa1

'india england america switzerland finland mauritius newzealand'

In [64]:
#2.count the number of occurence of 'a'
aa1.count('a')

9

In [71]:
#3.find the index location of the string
for i in range(len(aa1)):
    if(aa1[i] == 's'):
        print(i)

22
50

In [72]:
#4.replace 
aa2 = aa1.replace('s','SS')
aa2

'india england america SSwitzerland finland mauritiuSS newzealand'

In [73]:
#5.split
print(aa2.split())

['india', 'england', 'america', 'SSwitzerland', 'finland', 'mauritiuSS', 'newzealand']

In [74]:
#Find the length of the string using python
cnt = 0
for i in aa2:
    cnt = cnt + 1
print(cnt)

64

In [75]:
len(aa2)

64

In [81]:
#Iterate through the index and not the chracters
for i in range(len(aa2)):
    print(aa2[i])

i
n
d
i
a

e
n
g
l
a
n
d

a
m
e
r
i
c
a

S
S
w
i
t
z
e
r
l
a
n
d

f
i
n
l
a
n
d

m
a
u
r
i
t
i
u
S
S

n
e
w
z
e
a
l
a
n
d

In [84]:
#Reverse
for i in range(len(aa2)+1):
    print(aa2[-i])

i
d
n
a
l
a
e
z
w
e
n

S
S
u
i
t
i
r
u
a
m

d
n
a
l
n
i
f

d
n
a
l
r
e
z
t
i
w
S
S

a
c
i
r
e
m
a

d
n
a
l
g
n
e

a
i
d
n
i

In [85]:
#Reverse a string using while loop
ch = len(aa2)-1
while ch>=0:
    print(aa2[ch])
    ch = ch -1

d
n
a
l
a
e
z
w
e
n

S
S
u
i
t
i
r
u
a
m

d
n
a
l
n
i
f

d
n
a
l
r
e
z
t
i
w
S
S

a
c
i
r
e
m
a

d
n
a
l
g
n
e

a
i
d
n
i

In [86]:
#vowel or not
vow = 'AaEeIiOoUu'
for i in aa2:
    if i in vow:
        print("{} vowel".format(i))
    else:
        print("{} not a vowel".format(i))

i vowel
n not a vowel
d not a vowel
i vowel
a vowel
  not a vowel
e vowel
n not a vowel
g not a vowel
l not a vowel
a vowel
n not a vowel
d not a vowel
  not a vowel
a vowel
m not a vowel
e vowel
r not a vowel
i vowel
c not a vowel
a vowel
  not a vowel
S not a vowel
S not a vowel
w not a vowel
i vowel
t not a vowel
z not a vowel
e vowel
r not a vowel
l not a vowel
a vowel
n not a vowel
d not a vowel
  not a vowel
f not a vowel
i vowel
n not a vowel
l not a vowel
a vowel
n not a vowel
d not a vowel
  not a vowel
m not a vowel
a vowel
u vowel
r not a vowel
i vowel
t not a vowel
i vowel
u vowel
S not a vowel
S not a vowel
  not a vowel
n not a vowel
e vowel
w not a vowel
z not a vowel
e vowel
a vowel
l not a vowel
a vowel
n not a vowel
d not a vowel

In [89]:
#Palindrome
p = input("Enter the input to check palindrome or not : ")
p1 = p[::-1]
if p == p1:
    print('Yes it is a palindrome')
else:
    print("No it is not a palindrome")

Enter the input to check palindrome or not : ama
Yes it is a palindrome

In [92]:
lst = ["hi",234,45,56,['JA',2018,20.0,9],True]
for i in lst:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>
<class 'bool'>

In [94]:
for i in lst[4]:
    print(i)

JA
2018
20.0
9

In [95]:
#Find whether any list is available inside the list or not
for i in lst:
    if type(i)== list:
        print("The element {} is available in the list {}".format(i,lst))
    else:
        print('Not available')

Not available
Not available
Not available
Not available
The element ['JA', 2018, 20.0, 9] is available in the list ['hi', 234, 45, 56, ['JA', 2018, 20.0, 9], True]
Not available

In [96]:
len(lst)

6

In [98]:
max([lst])

['hi', 234, 45, 56, ['JA', 2018, 20.0, 9], True]

In [99]:
max([27,20,2018])

2018

In [100]:
max(['a','z','ja'])

'z'

In [101]:
min([27,20,2018])

20

In [103]:
lst.append('Jash')
lst

['hi', 234, 45, 56, ['JA', 2018, 20.0, 9], True, 'Jash', 'Jash']

In [104]:
lst.insert(3,'Adh')

In [105]:
lst

['hi', 234, 45, 'Adh', 56, ['JA', 2018, 20.0, 9], True, 'Jash', 'Jash']

In [106]:
lst.count('Jash')

2

In [108]:
lst.extend(['Jasvee','Aditiri',20092018])
lst

['hi',
 234,
 45,
 'Adh',
 56,
 ['JA', 2018, 20.0, 9],
 True,
 'Jash',
 'Jash',
 'Jasvee',
 'Aditiri',
 20092018]

In [109]:
lst.index('Adh')

3

In [111]:
lst.index(['JA', 2018, 20.0, 9])

5

In [112]:
lst.index(20092018)

11

In [113]:
lst.pop()

20092018

In [114]:
lst

['hi',
 234,
 45,
 'Adh',
 56,
 ['JA', 2018, 20.0, 9],
 True,
 'Jash',
 'Jash',
 'Jasvee',
 'Aditiri']

In [116]:
lst.pop(4)

56

In [117]:
lst.remove('Jash')

In [118]:
lst

['hi',
 234,
 45,
 'Adh',
 ['JA', 2018, 20.0, 9],
 True,
 'Jash',
 'Jasvee',
 'Aditiri']

In [121]:
lst.reverse()
lst

['Aditiri',
 'Jasvee',
 'Jash',
 True,
 ['JA', 2018, 20.0, 9],
 'Adh',
 45,
 234,
 'hi']

In [123]:
#1.insert the complex no element in the list at the index location 2
lt = [[20,6,27],['Jasvee','Ranju','Amar'],[2018,1992,1988,'A','R','J']]
lt

[[20, 6, 27], ['Jasvee', 'Ranju', 'Amar'], [2018, 1992, 1988, 'A', 'R', 'J']]

In [124]:
lt.insert(2,20+6j)
lt

[[20, 6, 27],
 ['Jasvee', 'Ranju', 'Amar'],
 (20+6j),
 [2018, 1992, 1988, 'A', 'R', 'J']]

In [132]:
#2. Find is there any string is there inside the list of list
for i in lt:
    if type(i) == list:
        for j in i:
            if type(j)==str:
                print("String is available : {} and length : {}".format(j,len(j)))
            else:
                print("Not a str : {}".format(j))

Not a str : 20
Not a str : 6
Not a str : 27
String is available : Jasvee and length : 6
String is available : Ranju and length : 5
String is available : Amar and length : 4
Not a str : 2018
Not a str : 1992
Not a str : 1988
String is available : A and length : 1
String is available : R and length : 1
String is available : J and length : 1

In [133]:
l=[["gh",56],[89,"yhg"],["90",98],78,90.0]
for e in l:
    if type(e)==list:
        l.insert(l.index(e)+1,[78,90])
        l.insert(l.index(e)+2,[89,"90","90","90"])
        l.insert(l.index(e)+3,6+7j)
        break
print(l)

[['gh', 56], [78, 90], [89, '90', '90', '90'], (6+7j), [89, 'yhg'], ['90', 98], 78, 90.0]

In [134]:
for i in l:
    if type(i)==list:
        for e in i:
            if type(e)==str:
                print(f"index of string in nested list of index number {l.index(i)} is {i.index(e)}")
                i.remove(e)
print("new list",l)

index of string in nested list of index number 0 is 0
index of string in nested list of index number 2 is 1
index of string in nested list of index number 2 is 1
index of string in nested list of index number 4 is 1
index of string in nested list of index number 5 is 0
new list [[56], [78, 90], [89, '90'], (6+7j), [89], [98], 78, 90.0]

In [135]:
l1 = [[1,2,3],[4,5,6],[7,8,9],'demo',12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]
# 1)
l1.insert(1,l2)
l1.insert(2,l3)
print("Main List : ",l1)
# 2)

for i in l1:
    if type(i)== list:
        for j in i:
            if type(j) == str:
                print("Index : ",i.index(j))
                i.remove(j)
                
# 3) 
for i in l1:
    if type(i)== list:
        print("Second Element : ",i[1])

Main List :  [[1, 2, 3], [11, 12, 'b', 'b', 'b'], [21, 't', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]
Index :  2
Index :  2
Index :  1
Second Element :  2
Second Element :  12
Second Element :  223
Second Element :  5
Second Element :  8

In [136]:
#input from user and store in the form of list
ll = []
for i in range(5):
    ll.append(int(input()))
print(ll)

123
34
54
67
8
[123, 34, 54, 67, 8]

In [137]:
#List comprehension
jj = "Jasvee"
[ i for i in jj ]

['J', 'a', 's', 'v', 'e', 'e']

In [138]:
[ [i] for i in jj ]

[['J'], ['a'], ['s'], ['v'], ['e'], ['e']]

In [139]:
lj = []
for i in range(10):
    if i%2 == 0:
        lj.append(i)
print(lj)

[0, 2, 4, 6, 8]

In [140]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [141]:
la = []
for i in range(10):
    if i%2!= 0:
        la.append("odd")
    else:
        la.append('even')
la

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [142]:
['odd' if i%2!=0 else 'even' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [143]:
mat = []
for i in range(4):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [144]:
[i for i in range(3)]

[0, 1, 2]

In [145]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [146]:
[i for i in range(10) if i%2 == 0 if i%3 == 0]

[0, 6]

In [147]:
we = []
for i in range(8):
    if i%2==0:
        if i%3==0:
            we.append(i)
we

[0, 6]

In [148]:
l = [0,1,2,3,4]
["yes" if i==1 else "no" if i==2 else "test" for i in l]

['test', 'yes', 'no', 'test', 'test']

In [149]:
res = []
for i in l:
    if i == 1:
        res.append('yes')
    elif i == 2:
        res.append('no')
    else:
        res.append('test')
res

['test', 'yes', 'no', 'test', 'test']

In [1]:
t =()
type(t)

tuple

In [2]:
t1 = (20,'Jasvee',20+2018j,11.45,True)
t1

(20, 'Jasvee', (20+2018j), 11.45, True)

In [3]:
t1[0]

20

In [4]:
20 in t1

True

In [5]:
t1.index('Jasvee')

1

In [6]:
t1.count(20)

1

In [7]:
t2 = ((3,4,5,6),("Jasvee",20,2018,9),(27,6,'Ar'),27,6,20,['Adithri',27,6,20])
t2

((3, 4, 5, 6),
 ('Jasvee', 20, 2018, 9),
 (27, 6, 'Ar'),
 27,
 6,
 20,
 ['Adithri', 27, 6, 20])

In [8]:
for i in t2:
    print(i)

(3, 4, 5, 6)
('Jasvee', 20, 2018, 9)
(27, 6, 'Ar')
27
6
20
['Adithri', 27, 6, 20]

In [9]:
for i in t2:
    if type(i)==tuple:
        print(i[0])

3
Jasvee
27

In [10]:
t3 = (20,27,6)
t3

(20, 27, 6)

In [11]:
t1

(20, 'Jasvee', (20+2018j), 11.45, True)

In [12]:
t3

(20, 27, 6)

In [13]:
if len(t1) == len(t3):
    print('Same')
else:
    print('Not same')

Not same

In [14]:
inp = input("enter your input :")
for i in t1:
    if i == inp:
        print('{} is available' .format(inp))
    else:
        print('{} is not available' .format(inp))

enter your input :Jasvee
Jasvee is not available
Jasvee is available
Jasvee is not available
Jasvee is not available
Jasvee is not available

In [15]:
inp = input("enter your input :")
if inp in t1:
    print('Available')
else:
    print("not available")

enter your input :Jasvee
Available

In [16]:
t3

(20, 27, 6)

In [17]:
del(t3)

In [19]:
#Set
x = set()
type(x)

set

In [20]:
l = [20,20,20,27,27,27,6,6,'Jasvee','Jasvee','Ranju','Ranju','Amar','Amar']
st = set(l)

In [21]:
st

{20, 27, 6, 'Amar', 'Jasvee', 'Ranju'}

In [22]:
st.add('Adithri')

In [23]:
st

{20, 27, 6, 'Adithri', 'Amar', 'Jasvee', 'Ranju'}

In [24]:
ss1= {2,4,5,6,78,2,34,56}
ss1

{2, 4, 5, 6, 34, 56, 78}

In [25]:
ss1.clear()

In [26]:
ss1

set()

In [27]:
#Dictionary
x = {}
type(x)

dict

In [28]:
x1 = {34,56,34,56}
type(x1)

set

In [29]:
x1

{34, 56}

In [30]:
x2 = {'name':'Jasvee',True:2018,20:11.45}
x2

{'name': 'Jasvee', True: 2018, 20: 11.45}

In [31]:
x2.keys()

dict_keys(['name', True, 20])

In [33]:
for i in x2.items():
    print(i)

('name', 'Jasvee')
(True, 2018)
(20, 11.45)

In [34]:
for i in x2.keys():
    print(i)

name
True
20

In [35]:
for i in x2.keys():
    print(x2[i])

Jasvee
2018
11.45

In [36]:
for i in x2.keys():
    print(type(x2[i]))

<class 'str'>
<class 'int'>
<class 'float'>

In [37]:
x2.items() # list of tuples

dict_items([('name', 'Jasvee'), (True, 2018), (20, 11.45)])

In [38]:
#keys
for i in x2.items():
    print(i[0])

name
True
20

In [39]:
#values
#keys
for i in x2.items():
    print(i[1])

Jasvee
2018
11.45

In [40]:
x3 = {(20,9,2018):'Jasvee'}
x3.keys()

dict_keys([(20, 9, 2018)])

In [41]:
len(x2)

3

In [42]:
e = {56:{45,78,43}}
l = list(e[56])
l[0]

43

In [43]:
#1. Take input as a paragraph ny using input function
inp = input()

A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.

In [44]:
inp

'A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.'

In [45]:
#2. convert all of input into list
lst = inp.split()
lst

['A',
 'paragraph',
 'is',
 'a',
 'series',
 'of',
 'related',
 'sentences',
 'developing',
 'a',
 'central',
 'idea,',
 'called',
 'the',
 'topic.',
 'Try',
 'to',
 'think',
 'about',
 'paragraphs',
 'in',
 'terms',
 'of',
 'thematic',
 'unity:',
 'a',
 'paragraph',
 'is',
 'a',
 'sentence',
 'or',
 'a',
 'group',
 'of',
 'sentences',
 'that',
 'supports',
 'one',
 'central,',
 'unified',
 'idea.',
 'Paragraphs',
 'add',
 'one',
 'idea',
 'at',
 'a',
 'time',
 'to',
 'your',
 'broader',
 'argument.']

In [49]:
#3. Remove all the Duplicate element from the list
newlst = set(lst)
newlst

{'A',
 'Paragraphs',
 'Try',
 'a',
 'about',
 'add',
 'argument.',
 'at',
 'broader',
 'called',
 'central',
 'central,',
 'developing',
 'group',
 'idea',
 'idea,',
 'idea.',
 'in',
 'is',
 'of',
 'one',
 'or',
 'paragraph',
 'paragraphs',
 'related',
 'sentence',
 'sentences',
 'series',
 'supports',
 'terms',
 'that',
 'the',
 'thematic',
 'think',
 'time',
 'to',
 'topic.',
 'unified',
 'unity:',
 'your'}

In [50]:
#4. Use above duplicate distinct element as a key for dictionary and assign your name as a value of all the key for dictionary
d= dict.fromkeys(newlst)
d

{'Paragraphs': None,
 'add': None,
 'broader': None,
 'idea,': None,
 'A': None,
 'the': None,
 'central,': None,
 'called': None,
 'unified': None,
 'a': None,
 'one': None,
 'supports': None,
 'about': None,
 'paragraph': None,
 'developing': None,
 'argument.': None,
 'time': None,
 'of': None,
 'is': None,
 'thematic': None,
 'in': None,
 'think': None,
 'sentence': None,
 'group': None,
 'series': None,
 'idea': None,
 'central': None,
 'or': None,
 'paragraphs': None,
 'sentences': None,
 'idea.': None,
 'Try': None,
 'to': None,
 'that': None,
 'terms': None,
 'related': None,
 'topic.': None,
 'your': None,
 'unity:': None,
 'at': None}

In [51]:
d= dict.fromkeys(newlst,'Jasvee')
d

{'Paragraphs': 'Jasvee',
 'add': 'Jasvee',
 'broader': 'Jasvee',
 'idea,': 'Jasvee',
 'A': 'Jasvee',
 'the': 'Jasvee',
 'central,': 'Jasvee',
 'called': 'Jasvee',
 'unified': 'Jasvee',
 'a': 'Jasvee',
 'one': 'Jasvee',
 'supports': 'Jasvee',
 'about': 'Jasvee',
 'paragraph': 'Jasvee',
 'developing': 'Jasvee',
 'argument.': 'Jasvee',
 'time': 'Jasvee',
 'of': 'Jasvee',
 'is': 'Jasvee',
 'thematic': 'Jasvee',
 'in': 'Jasvee',
 'think': 'Jasvee',
 'sentence': 'Jasvee',
 'group': 'Jasvee',
 'series': 'Jasvee',
 'idea': 'Jasvee',
 'central': 'Jasvee',
 'or': 'Jasvee',
 'paragraphs': 'Jasvee',
 'sentences': 'Jasvee',
 'idea.': 'Jasvee',
 'Try': 'Jasvee',
 'to': 'Jasvee',
 'that': 'Jasvee',
 'terms': 'Jasvee',
 'related': 'Jasvee',
 'topic.': 'Jasvee',
 'your': 'Jasvee',
 'unity:': 'Jasvee',
 'at': 'Jasvee'}

In [52]:
#5. Try to print tuple of all the values
tup=tuple(d.values())
tup

('Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee')

In [53]:
#6. try to print list of all the key
lt = list(d.keys())
lt

['Paragraphs',
 'add',
 'broader',
 'idea,',
 'A',
 'the',
 'central,',
 'called',
 'unified',
 'a',
 'one',
 'supports',
 'about',
 'paragraph',
 'developing',
 'argument.',
 'time',
 'of',
 'is',
 'thematic',
 'in',
 'think',
 'sentence',
 'group',
 'series',
 'idea',
 'central',
 'or',
 'paragraphs',
 'sentences',
 'idea.',
 'Try',
 'to',
 'that',
 'terms',
 'related',
 'topic.',
 'your',
 'unity:',
 'at']

In [55]:
#Task
inp = input()
lst = inp.split()
newlst = set(lst)
d= dict.fromkeys(newlst,'Jasvee')
tup=tuple(d.values())
lt = list(d.keys())

A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.

In [56]:
lst

['A',
 'paragraph',
 'is',
 'a',
 'series',
 'of',
 'related',
 'sentences',
 'developing',
 'a',
 'central',
 'idea,',
 'called',
 'the',
 'topic.',
 'Try',
 'to',
 'think',
 'about',
 'paragraphs',
 'in',
 'terms',
 'of',
 'thematic',
 'unity:',
 'a',
 'paragraph',
 'is',
 'a',
 'sentence',
 'or',
 'a',
 'group',
 'of',
 'sentences',
 'that',
 'supports',
 'one',
 'central,',
 'unified',
 'idea.',
 'Paragraphs',
 'add',
 'one',
 'idea',
 'at',
 'a',
 'time',
 'to',
 'your',
 'broader',
 'argument.']

In [57]:
newlst

{'A',
 'Paragraphs',
 'Try',
 'a',
 'about',
 'add',
 'argument.',
 'at',
 'broader',
 'called',
 'central',
 'central,',
 'developing',
 'group',
 'idea',
 'idea,',
 'idea.',
 'in',
 'is',
 'of',
 'one',
 'or',
 'paragraph',
 'paragraphs',
 'related',
 'sentence',
 'sentences',
 'series',
 'supports',
 'terms',
 'that',
 'the',
 'thematic',
 'think',
 'time',
 'to',
 'topic.',
 'unified',
 'unity:',
 'your'}

In [58]:
d

{'Paragraphs': 'Jasvee',
 'add': 'Jasvee',
 'broader': 'Jasvee',
 'idea,': 'Jasvee',
 'A': 'Jasvee',
 'the': 'Jasvee',
 'central,': 'Jasvee',
 'called': 'Jasvee',
 'unified': 'Jasvee',
 'a': 'Jasvee',
 'one': 'Jasvee',
 'supports': 'Jasvee',
 'about': 'Jasvee',
 'paragraph': 'Jasvee',
 'developing': 'Jasvee',
 'argument.': 'Jasvee',
 'time': 'Jasvee',
 'of': 'Jasvee',
 'is': 'Jasvee',
 'thematic': 'Jasvee',
 'in': 'Jasvee',
 'think': 'Jasvee',
 'sentence': 'Jasvee',
 'group': 'Jasvee',
 'series': 'Jasvee',
 'idea': 'Jasvee',
 'central': 'Jasvee',
 'or': 'Jasvee',
 'paragraphs': 'Jasvee',
 'sentences': 'Jasvee',
 'idea.': 'Jasvee',
 'Try': 'Jasvee',
 'to': 'Jasvee',
 'that': 'Jasvee',
 'terms': 'Jasvee',
 'related': 'Jasvee',
 'topic.': 'Jasvee',
 'your': 'Jasvee',
 'unity:': 'Jasvee',
 'at': 'Jasvee'}

In [59]:
tup

('Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee',
 'Jasvee')

In [60]:
lt

['Paragraphs',
 'add',
 'broader',
 'idea,',
 'A',
 'the',
 'central,',
 'called',
 'unified',
 'a',
 'one',
 'supports',
 'about',
 'paragraph',
 'developing',
 'argument.',
 'time',
 'of',
 'is',
 'thematic',
 'in',
 'think',
 'sentence',
 'group',
 'series',
 'idea',
 'central',
 'or',
 'paragraphs',
 'sentences',
 'idea.',
 'Try',
 'to',
 'that',
 'terms',
 'related',
 'topic.',
 'your',
 'unity:',
 'at']

In [61]:
dd = {'name' : 'Jasvee', "Dob" : "20/09/2018", "lname" : 'Adithri','year' : 2018}
for i  in dd:
    print("Key : {}\tValue : {}".format(i,dd[i]))

Key : name	Value : Jasvee
Key : Dob	Value : 20/09/2018
Key : lname	Value : Adithri
Key : year	Value : 2018

In [62]:
'neme' in dd

False

In [63]:
'name' in dd

True

In [64]:
for i in dd:
    if i == "year":
        if dd[i]> 2021:
            print("valid")
        else:
            print("not valid")
            dd[i] = 2021

not valid

In [65]:
dd

{'name': 'Jasvee', 'Dob': '20/09/2018', 'lname': 'Adithri', 'year': 2021}

In [67]:
for i in dd:
    if i == "name":
        if dd[(i)] == 'Jasvee':
            print("valid")
        else:
            print("not valid")
            #dd[i] = 2021

valid

In [68]:
l = []
for i in dd['name']:
    l.append(i)
print(i)
l

e

['J', 'a', 's', 'v', 'e', 'e']

In [69]:
dd['name'] = 'Jasvee'

In [70]:
cnt = 0
for i in dd['name']:
    cnt = cnt + 1
print(cnt)

6

In [71]:
cnt = 0
for i in dd['name']:
    cnt = cnt + 1
if cnt < 6:
    print('Should be greater than 8 chracters')
else:
    print("Ok")

Ok

In [72]:
#Dictionary comprehension
{i:i*i for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [73]:
cd ={}
for i in range(5):
    cd[i] = i*i
cd

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}