In [1]:
a = 20
b = 6
c = a+b
c

26

In [2]:
def addn1 (a,b):
    #return a + b
    print(a+b)

In [3]:
addn1(2,3)

5

In [4]:
def addn (a,b):
    return a + b
    #print(a+b)
#return - return will return data or result to us based on the condition 
#print - return none type

In [7]:
addn(2,3)+3

8

In [8]:
a= addn(20,6)+27
a

53

In [9]:
type(a)

int

In [11]:
def oprns (a,b):
    return a + b, a*b, a-b, a*20, b+27
#it returns in the form of tuples
o = oprns(2,4)
o

(6, 8, -2, 40, 31)

In [14]:
j,a,r,s,d = oprns(4,2)
print(j), print(a), print(r), print(s), print(d)

6
8
2
80
29

(None, None, None, None, None)

In [15]:
j,a,_,_,_ = oprns(27,20)
# _ - placeholder

In [16]:
j

47

In [17]:
a

540

In [19]:
_

47

In [20]:
_

47

In [21]:
def con():
    return "Hi"
A = con()
A

'Hi'

In [22]:
def test(n):
    return n * 2
    return n+2
test(20)
#Here it will print the first return value

40

In [23]:
def test(n):
    return n * 2
test([3,4,5,6,7])

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [24]:
def test1(n):
    return n,n*2
b = test1([1,2,3,4])
b

([1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4])

In [25]:
b[0]

[1, 2, 3, 4]

In [26]:
b[1][2]

3

In [27]:
#default argument
def test11(n,m = 27):
    return n+m
test11(20)

47

In [28]:
#override the m argument
test11(20,10)

30

In [29]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike,car,plan_travel
travel()

(True, False, True)

In [30]:
#override the car variable
travel(car = True)

(True, True, True)

In [31]:
#Multiple arguments
# *args - i will be able to pass any number of arguments
def test12(*args):
    return args
test12('Jasvee','Adithri','Amar','Ranju',[20,27,6],20.0)

('Jasvee', 'Adithri', 'Amar', 'Ranju', [20, 27, 6], 20.0)

In [32]:
#1 - concatete into a single list
def task(*args):
    return list(args)
task([1,2,3,4],[4,5,2,3])

[[1, 2, 3, 4], [4, 5, 2, 3]]

In [34]:
#Another Method
lst = []
def task1(*args):
    for i in args:
        lst.append(i)
    return list(args)
task1([1,2,3,4],[3,4,5,6])

[[1, 2, 3, 4], [3, 4, 5, 6]]

In [35]:
def tt1(a,b,c):
    return a+b+c
tt1([1,2,3],[4,5,6],[6,7,8])

[1, 2, 3, 4, 5, 6, 6, 7, 8]

In [36]:
def task11(*args):
    l = []
    for i in args:
        l.append(i)
    return l
task11([1,2,3,4],[5,6,7,8],[9,10,11,12])

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [38]:
#add
def task11(*args):
    l = []
    for i in args:
        #l.append(i)
        l = l+i
    return l
task11([1,2,3,4],[5,6,7,8],[9,10,11,12])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [39]:
#Extend function
def task11(*args):
    l = []
    for i in args:
        #l.append(i)
        #l = l+i
        l.extend(i)
    return l
task11([3,4],[7,8],[11,12])

[3, 4, 7, 8, 11, 12]

In [40]:
def test14(*args):
    l = []
    for i in args:
        if type(i) == str:
            l.extend(i)
    return l
test14('amar','Jasvee',['amar','jasvee'],['arjsd',23],27,20,6)

['a', 'm', 'a', 'r', 'J', 'a', 's', 'v', 'e', 'e']

In [41]:
def test14(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.extend(i)
    return l
test14('amar','Jasvee',['amar','jasvee'],['arjsd',23],27,20,6)

['amar', 'jasvee', 'arjsd', 23]

In [45]:
# **kwargs
# **kwargs (keyword arguments) - In dictionary(key, value pairs) i will be to provide any number of data into a function but in the form of key value pairs
def test16(**kwargs):
    return kwargs
test16(a=4,b=5,c=6)
#It returns me the dictionary

{'a': 4, 'b': 5, 'c': 6}

In [46]:
test16(a=4,b=5,c=6,d=['a','r','j'],e=True)

{'a': 4, 'b': 5, 'c': 6, 'd': ['a', 'r', 'j'], 'e': True}

In [47]:
#1.Create a function to take any arguments as a mixed data's and try to create a list of seperate data based on datatype and return multiple result
#2.create a function which will be able to use *args and **kwargs and it will be able to do all the list of value concatenation return a list.

#My approach
def funct1(*args):
    l1 = []
    l2 = []
    l3 = []
    l4 = []
    l5 = []
    for i in args:
        if type(i) == list:
            l1.append(i)
        elif type(i)== tuple:
            l2.append(i)
        #elif type(i) == dict:
            #l3.append(i)
        elif type(i) == float:
            l4.append(i)
        elif type(i) == bool:
            l5.append(i)
            
    return l1,l2,l3,l4,l5

In [48]:
funct1([1,2,3,4],[6,7,8,8],(27,20,6,25),27,20,6,25,25.27,6.20,True)

([[1, 2, 3, 4], [6, 7, 8, 8]], [(27, 20, 6, 25)], [], [25.27, 6.2], [True])

In [49]:
def funct2(*args,**kwargs):
    l = [i for i in args if type(i)==list]
    d = [d for d in kwargs.values() if type(d[1])==list]
    return l,d
funct2([2,3,4,5],[4,2,13,3],20,6,5,True,45, a = '244',b='Er',c='rt')

([[2, 3, 4, 5], [4, 2, 13, 3]], [])

In [51]:
def test17(**kwargs):
    return kwargs
test17(b=6,c=[4,5,6,7],d=['jasvee','amar','ranju'],n=6+20j)

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['jasvee', 'amar', 'ranju'], 'n': (6+20j)}

In [52]:
def test18(**kwargs):
    for i in kwargs.items():
        print(i)
    return kwargs
test18(b=6,c=[4,5,6,7],d=['jasvee','amar','ranju'],n=6+20j)

('b', 6)
('c', [4, 5, 6, 7])
('d', ['jasvee', 'amar', 'ranju'])
('n', (6+20j))

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['jasvee', 'amar', 'ranju'], 'n': (6+20j)}

In [53]:
def test19(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:
            if 'jasvee' in i[1]:
                print('found')
                print(i[1])
            
               
    return kwargs

In [54]:
test19(b=6,c=[4,5,6,7],d=['jasvee','amar','ranju'],n=6+20j)

found
['jasvee', 'amar', 'ranju']

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['jasvee', 'amar', 'ranju'], 'n': (6+20j)}

In [55]:
def functtt(*args):
    dt={}
    k = int
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt
functtt(1,2,3,4,5,6,[3,4,5,6],'hj','tr',5+9j,{2:'3',4:'4'},(45,6,7,8))

{int: [1, 2, 3, 4, 5, 6],
 list: [[3, 4, 5, 6]],
 str: ['hj', 'tr'],
 complex: [(5+9j)],
 dict: [{2: '3', 4: '4'}],
 tuple: [(45, 6, 7, 8)]}

In [56]:
#Anonymous function - lambda function - the function without having any name
def test(name,mailid):
    return name,mailid
test('Jasvee','arj@gmail.com')

('Jasvee', 'arj@gmail.com')

In [57]:
a= 10
b = 10
def test1(x,y):
    return x+y
test1(a,b)

20

In [58]:
#lambda function
m = lambda x,y : x+y
m

In [59]:
m(27,20)

47

In [60]:
m('Jasvee','Adithri')

'JasveeAdithri'

In [61]:
b = 'amar'
c = 'jas'
n = lambda b1,c1 : print(b1,c1)
n(b,c)

amar jas

In [62]:
#scope of the variable
# r - global variable
r = 10
def test3(a,b):
    #local variable
    r = a/b
    print(r)
test3(10,10)

1.0

In [63]:
#Doc string
def test4():
    """
    This is my test function
    
    """
    print('Amar')
test4()

Amar

In [64]:
help(test4)

Help on function test4 in module __main__:

test4()
    This is my test function

In [65]:
# Iterator and Generator
#a= 10
#for i in a:
    #print(i)

In [66]:
for i in "Jasvee":
    print(i)

J
a
s
v
e
e

In [68]:
#if our object is a iterable one then we can extract the data iterable object into iterator object.(string, list,tuple)
#for loop is trying to convert iterable object into a iterator object and it performs the extraction process.
#iterator - kind of object that will be able to remember that previous operation.
#for  - for loop is internally uses the  iter and next function.
#iter function is usefull to convert the iterable into iterator.
s= 'Adithri'
s = iter(s)
next(s)

'A'

In [69]:
next(s)

'd'

In [70]:
#Generator
def test4(n):
    l=[]
    for i in range(n):
        #l.append(i)
        l.append(i**2)
    return l
test4(6)

[0, 1, 4, 9, 16, 25]

In [71]:
#test(600000) - it takes the huge amount of time to give the result.
#in a list we r trying to append the list and in the same location we are trying to add the element in the same memory location.

In [72]:
#I have to perform the same kind of operation without storing in the memory location - Yield operator
def test5(n):
    for i in range(n):
        yield i**2

In [73]:
#range - tries to memorize the dataset which we are given as a dataset.

In [74]:
for i in test5(30):
    print(i)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841

In [76]:
def fibo(n):
    a=1
    b=1
    output=[]
    for i in range(6):
        output.append(a)
        a,b = b,a+b
    return output
fibo(5)

[1, 1, 2, 3, 5, 8]

In [77]:
#generator
def fibon(n):
    a=1
    b=1
    #output=[]
    for i in range(6):
        #output.append(a)
        yield a
        a,b = b,a+b
    #yield output

In [78]:
fibon(5)

In [79]:
for i in fibon(5):
    print(i)

1
1
2
3
5
8